.MetaRetargetHeroSectionTY {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
  max-width: 1300px;
  justify-content: flex-start;
  margin-top: 10%;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  align-items: center;
  text-align: center;
  align-self: flex-start !important;
  margin: 10% auto;
}
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.meta-retarget-hero-ty-headline {
  font-size: 2.8rem;
  line-height: 2.8rem;
  font-weight: bold;
}
.meta-retarget-hero-ty-text {
  font-size: 1.5rem;
  line-height: 1.2;
  max-width: 70%;
  margin-top: 10px;
}

.roofman-gif-image-ty {
  width: 100%;
  max-width: 300px;
  margin-top: 50px;
}

@media only screen and (max-width: 1000px) {
  .meta-retarget-hero-ty-headline {
    font-size: 2rem;
    line-height: 2rem;
  }
  .meta-retarget-hero-ty-text {
    max-width: 95%;
  }
  .roofman-gif-image-ty {
    width: 50%;
    max-width: 300px;
    margin-top: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .meta-retarget-hero-ty-headline {
    font-size: 1.5rem;
    line-height: 1;
  }
  .meta-retarget-hero-ty-text {
    max-width: 95%;
    font-size: 1rem;
  }
}
