.Footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding-bottom: 50px;
  padding-top: 50px;
}
.FooterLP {
  position: relative;
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #9a9a9a;
  /* padding-bottom: 50px; */
  padding-top: 15%;
  bottom: 0;
  /* width: 100%; */
  white-space: nowrap;
}

.nav-links li {
  list-style-type: none;
  padding: 0px 24px;

  white-space: nowrap;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.footer-copyright {
  display: flex;
  text-align: center;
  width: 70%;
  justify-content: center;
  padding-right: 10px;
  /* margin-top: 25px; */
}
.footer-copyright-lp {
  display: flex;
  text-align: center;
  width: 70%;
  justify-content: center;
  padding-right: 10px;
  /* margin-top: 25px; */
}
.footer-lp-privacy-link {
  color: #9a9a9a;
}

@media only screen and (max-width: 768px) {
  .FooterLP {
    flex-direction: column;
    font-size: 1rem;
    position: relative;
    margin-top: 100px;
  }
  .nav-links {
    flex-direction: column;
  }
  .nav-links li {
    flex-wrap: wrap;
    flex-direction: column;
    word-wrap: break-word;
  }
}

@media only screen and (max-width: 560px) {
  .Footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-bottom: 50px;
    padding-top: 50px;
  }
  .footer-copyright-lp {
    white-space: break-spaces;
    font-size: 0.8rem;
  }
  .footer-lp-privacy-link {
    color: #9a9a9a;
    font-size: 0.8rem;
  }
  .footer-copyright-lp {
    white-space: break-spaces;
  }
}
