.Privacy {
  display: flex;
  height: 100%;
  width: 80%;
  flex-direction: column;
  overflow: auto;
  font-size: 1.3rem;
  padding: 0px 25px;
}
.privacy-container {
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 90vh;
  width: 70vw;
  position: absolute;
  top: 5%;
  background-color: white;
  flex-direction: column;
  max-width: 1440px;
}
.close-privacy-button {
  padding: 10px 20px;
  align-items: center;
  align-self: flex-end;
  border-style: solid;
  z-index: 100;
  position: absolute;
  background-color: white;
}
.Terms li {
  padding: 0px 24px;
  color: #515151;
}

.Privacy ol ul li {
  list-style-type: circle;
}
.privacy-inner-positioner {
  padding: 0px 75px;
  text-align: left;
}

/* ************** MEDIA QUERY 1000PX ******************* */
@media only screen and (max-width: 1000px) {
  .Privacy {
    font-size: 1rem !important;
  }
  .privacy-container {
    height: 100%;
    width: 100%;

    top: 0%;

    border-right: none;
    border-left: none;
  }

  .privacy-inner-positioner {
    padding: 0px 2%;
  }
}
